@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-darkest text-gray-200 font-sans text-[13px] antialiased select-none overflow-hidden h-screen w-screen;
  }
}

/* Custom scrollbars for VS Code density look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0B0D10;
}

::-webkit-scrollbar-thumb {
  background: #232830;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2EE6A6;
}
